html {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: 2px solid red;

}

#nav-area {
    /* border: #d1fc12 2px solid;    */
    height: 100vh;
    width: 20%;
    position: fixed;
}

nav {
    height: 8%;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    /* display: none; */
    border-bottom: double;
    border: #fc1287 2px solid;
    margin-bottom: 0;
}

#nav-list-js {
    margin-top: 4%;
    height: 88.6vh;
    max-height: 90vh;
    border: #4a0569 2px solid;
    padding-left: 0;
    overflow: auto;
}

#nav-list-js li {
    list-style-type: none;
    border-top: 2px solid black;
    font-size: 24px;
}

.title {
    list-style-type: none;
    border: none !important;
    text-align: center;
    font-weight: 800;
}

#main-doc {
    border: #73e705 2px solid;
    padding: 0 11.2px;
    width: 77.8%;
    position: relative;
    left: 20.4%;
}

.main-section {
    margin: 12px 0px;
border: 2px solid rgb(108, 23, 134);
}

.code-area {
    margin: 9px auto;
    /* display: flex;
    align-content: center; */
    width: 90%;
    height: fit-content;
    border-radius: 8px;
    padding: 0 0 15px 0;
    border: 2px solid rgb(218, 16, 127);
    background-color: #3f463f;
}


.code {
    height: fit-content;
    margin: 15px 0 0 15px;
    color: beige;
    border: 2px solid rgb(163, 153, 9);
}

li {
    margin-bottom: 8px;
}

.datalist2 {
    color: blueviolet;
    margin-left: 40px;
    list-style-type: circle;
}

/* section {
    width: 1050px;
} */

@media (max-width: 720px) {
    html {
        box-sizing: border-box;
    }
    
    body {
        width: 100%;
        border: 1px solid red;
        margin: 0;
        padding: 0;
    }

    #main-doc {
        margin: 0;
        border: #73e705 2px solid;
        padding: 0 11.2px;
        width: 50%;
    }

    #nav-area {
        width: 100%;
        display: none;
    }

    nav {
        width: 100%;
    }

    #nav-list-js {
        display: none;
    }
}